jupyter
matplotlib
scipy
numpy~=1.23.3
pandas~=1.4.4
pymongo
dnspython
pymysql
mysql-connector
sqlalchemy
requests
beautifulsoup4
nbconvert
jupyter_contrib_nbextensions
psycopg2-binary
gpboost~=0.7.9
sklearn~=0.0
datetime~=4.7

CRPS~=2.0.4
xgboost~=1.6.2
scikit-learn~=1.1.2